@use '@/styles/variables' as *;

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.card-formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  box-shadow: $box-shadow;
  background: $color-cards;
  backdrop-filter: blur(8px);
  border-radius: 5px;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  &:hover .card-formation__img-container__title {
    opacity: 0;
  }

  &__img-container {
    position: relative;
    width: 100%;
    height: auto;

    &__img-project {
      width: 100%;
      display: block;
      border-radius: 5px;
    }

    &__title {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: 2rem;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.card-formation__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: 1rem;
    font-weight: 600;
    gap: 5px;
    color: $color-text-dark;
    background-color: white;
    border: solid 2px $color-text-dark;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-3px);
      border-radius: 3px;
      background-color: $color-hover;
    }
  }

  &__img-github {
    cursor: pointer;
  }

  &__description {
    font-size: 1.2rem;
    margin: 0;
    text-align: justify;
  }

  &__techs {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;

    img {
      width: 40px;
      height: 40px;
    }
  }
}
