@use '@/styles/variables' as *;

#contact {
  scroll-margin-top: 90px;
}

.section-contact {
  padding: 50px 200px 100px 200px;
  background-color: $color-section-blue;

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  &__text {
    display: flex;
    justify-content: center;
    margin: 70px 0;

    p {
      font-size: 1.2rem;
      width: 50%;
      margin: 0;
      padding: 10px 0;
      border-radius: 10px;
      text-align: center;
      background-color: $color-section-white;
      box-shadow: $box-shadow;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;

    &__logos {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h3 {
        font-size: 1rem;
        margin: 0 0 10px 0;
        text-decoration: underline;
      }

      &--cadre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border: solid 4px $color-text-dark;

        img {
          width: 48px;
          height: 48px;
          transition: transform 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 40%;
      padding-top: 8px;

      input {
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.8rem;
        border: 2px solid #ccc;
        border-radius: 3px;
        font-size: 1rem;
        color: $color-text-light;
        background-color: $color-section-white;
        transition: all 0.2s ease-in-out;

        &:hover {
          border-color: $color-border;
        }

        &:focus {
          border-color: $color-border;
          outline: none;
        }
      }

      &__button {
        width: 100%;
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background-color: $color-buttons;
        border: solid 2px transparent;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: translateY(-5px);
          border-radius: 3px;
          background-color: $color-hover;
        }
      }
    }
  }
}
