@use './variables' as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text-dark;
  line-height: $line-height-base;
  margin: 0;
}
