// Typography
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Colors
$color-text-dark: #2b2d42;
$color-text-light: #797a7a;

$color-cards: #ffffff;

$color-section-white: #f8f9fa;
$color-section-blue: #d0f0ff;

$color-border: #47b3f1;
$color-gray-border: #dee2e6;
$color-blue-secondary: #a6dcff;

$color-hover: #57b5f8;

$color-error: #e63946;

$bg-gradient-blue: linear-gradient(135deg, #e0f7ff, #f0f3ff);

// Shadows
$box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

$neon-box-shadow-1:
  inset 0 0 15px rgba(185, 245, 255, 0.3),
  0 0 25px rgba(185, 245, 255, 0.5);
$neon-box-shadow-2:
  inset 0 0 20px rgba(185, 245, 255, 0.5),
  0 0 35px rgba(185, 245, 255, 0.7);

// @use '@/styles/variables' as *;
