@use '@/styles/variables' as *;
@use '@/styles/animations';

#presentation {
  scroll-margin-top: 50px;
}

.section-presentation {
  position: relative;
  padding: 50px 200px 100px 200px;
  background: $color-section-blue;
  z-index: 75;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__titles {
      h1 {
        margin: 0 0 20px 0;
      }

      h2 {
        font-size: 2rem;
        margin: 0;
      }
    }

    &__p-left {
      width: 40%;
      margin: 50px 0;
      text-align: justify;
    }

    &__p-right {
      margin-left: 60%;
      margin-bottom: 50px;
      margin-top: 0;
      text-align: justify;
    }

    &__buttons {
      display: flex;
      gap: 20px;
      width: 40%;
      text-wrap: nowrap;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        padding: 0 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: white;
        background-color: $color-buttons;
        border: solid 2px transparent;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;

        &:hover {
          transform: translateY(-5px);
          border-radius: 3px;
          background-color: $color-hover;
        }
      }

      #btn-github {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: $color-text-dark;
        background-color: white;
        border: solid 2px $color-text-dark;

        &:hover {
          background-color: #cecbcb;
          border-radius: 3px;
        }
      }
    }
  }
}
