@use '@/styles/variables' as *;
@use '@/styles/animations';

#presentation {
  scroll-margin-top: 40px;
}

.section-presentation {
  position: relative;
  padding: 100px 200px;
  background: $color-section-blue;
  animation: neonPulse 4s ease-in-out infinite;
  box-shadow: $neon-box-shadow-1;
  z-index: 75;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 20px;
    box-shadow: $neon-box-shadow-2;
    z-index: -1;
    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 40%;

    &__titles {
      h1 {
        margin: 0 0 20px 0;
      }

      h2 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        margin: 50px 0;
        text-align: justify;
      }
    }

    &__buttons {
      display: flex;
      gap: 20px;
      text-wrap: nowrap;
      margin-top: 10px;

      .btn {
        width: 33%;
        padding: 0 5px;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background-color: #333;
        border: solid 2px transparent;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: translateY(-5px);
          background-color: $color-hover;
          color: $color-text-dark;
          border-color: $color-text-dark;
        }
      }

      #btn-github {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: $color-text-dark;
        background-color: white;
        border: solid 2px $color-text-dark;

        &:hover {
          background-color: $color-hover;
        }
      }
    }
  }
}
