@use '@/styles/variables' as *;

.textarea-base {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: $color-text-light;
  background-color: $color-section-white;
  font-size: 1rem;
  resize: none;
  transition: border 0.3s;

  &:hover {
    border-color: $color-border;
  }

  &:focus {
    border-color: $color-border;
    outline: none;
  }

  @media (max-width: 600px) {
    padding: 0.5rem 0.5rem;
  }
}

.char-counter {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.5rem;
}
